@import url('tokens.css');

/* Body Styles */
body {
    font-family: var(--font-family-body);
    background-color: var(--color-background);
}

/* Header Styles */
header {
    background-color: var(--color-header-footer);
    border-bottom: 2px solid var(--color-heading);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

header .container span {
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-heading);
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--color-heading);
    font-weight: var(--font-weight-bold);
}

header nav ul li a.active {
    color: var(--color-link-hover);
    font-weight: bold;
    text-decoration: underline;
}

/* Section Styles */
section {
    background-color: var(--color-section);
}

/* Main Styles */
#main {
    background-color: var(--color-main);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    padding: 1rem;
    color: white;
}

#main h1 {
    color: var(--color-main-heading); 
}

.left-column, .right-column {
    padding: 1rem;
}

/* Heading Styles */
h1, h2 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
    color: var(--color-heading);
}

/* Link Styles */
a:link {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

@media screen and (max-width: 768px) 
{
    #main {
        display: flex;
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
        margin-bottom: 1rem;
    }
}