@import url('tokens.css');

/* Body Styles */
body {
    font-family: var(--font-family-body);
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Section Styles */
section {
    background-color: var(--color-section);
}

/* Main Styles */
#main {
    background-color: var(--color-main);
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

#main h1 {
    color: var(--color-main-heading); 
}

.left-column, .right-column {
    padding: 1rem;
}

/* Heading Styles */
h1, h2 {
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
    color: var(--color-heading);
}

/* Link Styles */
a:link {
    color: var(--color-link);
    text-decoration: none;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
}

@media screen and (max-width: 768px) 
{
    #main {
        display: flex;
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
        margin-bottom: 1rem;
    }
}