:root {
    --color-background: #FFFFFF;
    --color-header-footer: #F7F6F3;
    --color-section: #3B4045;
    --color-main: #F7F6F3;
    --color-main-heading: #FF8C42;
    --color-heading: #FFD700;
    --color-link: #448361;
    --color-link-visited: #367347;
    --color-link-hover: #56C472;
    --font-family-body: "Lexend", serif;
    --font-family-heading: "Lexend", serif;
    --font-weight-bold: bold;
}
